lesson03/*
lesson05/*
lesson07/*
lesson08/*
lesson07_butNotInOurRepo/*
library/*
bril/__pycache__/*
final_project/__pycache__/*
.DS_Store
lesson05/graphs/*
lesson06/graphs/*
lowering/RVIRInsn/__pycache__/*
lowering/RVIRInsn/riscv-simulator/*
lowering/RVIRInsn/riscv32-linux/*
*.pyc
*/__pycache__
*.in
*.out
*.txt