lesson02/__pycache__/*
lesson03/__pycache__/*
lesson04/__pycache__/*
lesson05/__pycache__/*
lesson06/__pycache__/*
lesson07/__pycache__/*
lesson08/__pycache__/*
lesson03/*
lesson05/*
lesson07/*
lesson08/*
lesson07_butNotInOurRepo/*
library/*
bril/__pycache__/*
final_project/__pycache__/*
.DS_Store
lesson05/graphs/*
lesson06/graphs/*
lowering/RVIRInsn/__pycache__/*
lowering/RVIRInsn/riscv-simulator/*
lowering/RVIRInsn/riscv32-linux/*
*.pyc
*/__pycache__